button{
    width: 120px;
}

.btn-SmartId{
    background-color: rgba(86, 125, 244, 0.1);
    color: #567df4;
    font-size: 16px;
}

.btn{
    font-weight: 565;
}

.center{
    text-align: center;
    margin: 0;
}

.btn-Signin{
    background-color: #567df4;
    color: #ffffff;
}